body{
    background-image: url("Media/tumblr_mxqv991wFt1skbwabo1_500.jpg");
    background-repeat: repeat;
}

#logo{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
    height: 150px;
}

#btModelo{
    position: absolute;
    top: 80px;
    left: 320px;
    width: 167px;
    height: 33px;
}

#btMaterial{
    position: absolute;
    top: 80px;
    left: 553px;
    width: 150px;
    height: 33px;
}

#btSalas{
    position: absolute;
    top: 80px;
    left: 785px;
    width: 167px;
    height: 33px;
}

#menu{
    background-color: #fff;
    position: absolute;
    top: 179px;
    left: 0px;
    width: 770px;
    height: 30px;
    text-align: right;
    line-height: 30px;
    word-spacing: 10px;
    color: #aaa;
    font-family: arial;
    font-size: 15px;
}

#Mbanner{
    position: absolute;
    top: 209px;
    width: 770px;
    height: 308;
}


.lkMenu{
    text-decoration: none;
    color: #aaa;
    font-weight: bold;
}
.lkMenu:hover{
    color: #033;
}

#botoes{
    width: 233px;
    height: 99px;
}

#banner{
    top: 10px;
    width: 1000px;
    height: 350px;
}

#main{
    position: absolute;
    top: 0;
    left: 50%;
    width: 770px;
    margin-left: -500px;
}
